@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #afafaf;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #adadad;
}

/* Define Colors */
:root {
  --brand-primary: #3dcbb1;
  --brand-secondary: #ffd130;
  --primary-100: #98211a;
  --primary-90: #c42a22;
  --primary-60: #e56d67;
  --primary-40: #ec9792;
  --black-90: rgba(27, 27, 27, 0.9);
  --black-60: rgba(27, 27, 27, 0.6);
  --black-30: rgba(27, 27, 27, 0.3);
  --white-90: rgba(249, 249, 249, 0.9);
  --white-60: rgba(249, 249, 249, 0.6);
  --white-30: rgba(249, 249, 249, 0.3);
  --error: #fe416d;
  --warning: #a04ae3;
  --success: #00ddc0;
}

.dark {
  --background: var(--black-90);
  --foreground: var(--white-90);
}

/* Apply Theme Colors */
@theme inline {
  --color-brand-primary: var(--brand-primary);
  --color-brand-secondary: var(--brand-secondary);
  --color-primary-100: var(--primary-100);
  --color-primary-90: var(--primary-90);
  --color-primary-60: var(--primary-60);
  --color-primary-40: var(--primary-40);
  --color-black-90: var(--black-90);
  --color-black-60: var(--black-60);
  --color-black-30: var(--black-30);
  --color-white-90: var(--white-90);
  --color-white-60: var(--white-60);
  --color-white-30: var(--white-30);
  --color-error: var(--error);
  --color-warning: var(--warning);
  --color-success: var(--success);
}
